.page-host {
  $border: 1px solid hsl(0,0,70);
  position: relative;
  margin: 0 $spacing-default * 2;
  padding: $spacing-default;
  min-height: 100vh;
  padding-top: $navbar-height + $spacing-default;
  border: {
    left: $border;
    right: $border;
  }
  background: hsl(0,0,100);
}