.new-task {
  position: relative;
  display: flex;
  width: 100%;
  padding: $margin-default;
  border: 1px solid hsl(0,0,70);
}

.new-task-title {
  flex-grow: 3;
}

.new-task-category {
  flex-grow: 2;
  margin-right: $margin-default;
}

.new-task-btn {
  position: relative;
  display: inline-block;
  flex-grow: 1;
  margin-top: -$margin-default - 1;
  margin-right: -$margin-default - 1;
  margin-bottom: -$margin-default - 1;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 100%;
  font-size: 1.1em;
}